*{
    margin: 0;
    padding: 0;
    /* position: relative; */
    scrollbar-width: none;
    overflow-x: hidden;
  }
  .container {
    text-align: center;
    background-color: black;
  
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
    gap: 30px;
    /* margin-bottom: 30px; */
    background-color: black;
    border: 2px solid red;
    z-index: 3;
  }
  
  .nav-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-icon:hover {
    transform: scale(1.1);
  }
  /*backgroundphoto*/
  .backgroundphoto{
    width: 80%;
    transition: transform 2s ease-in-out;
    z-index: 1;
  }
  /* .backgroundphoto:hover{
    transform: scale(1.1);
  } */
  
  .slide{
    height: 280px;
    width: 140px;
  }
  .slide1{
    height: 300px;
    /* width: 150px; */
    min-width: 200px;
  }
  .slidediv{
    display: flex;
    gap: 15px;
    padding: 50px 0;
    overflow-x: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 80%;
  }
  .outerslidediv{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  
  
  .featureandmakima{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  /* Title & Description */
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  /* Form */
  .form {
    display: flex;
    justify-content: center;
  }
  
  .input {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  